* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  padding: 0.75rem 1.25rem;
  border: none;
  outline: none;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: white;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}

/* ======================== CSS FOR LOADING ==================================== */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 8rem;
  height: 8rem;
  border: 10px solid lightgray;
  border-radius: 50%;
  border-top-color: #021e39;
  animation: spinner 0.6s linear infinite;
}
