@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Roboto:wght@400;500&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  width: 100%;
  min-width: 600px;
  background-color: #021e39;
  box-shadow: 2px 1px 3px #044150;
  height: 60px;
}

.nav-container {
  flex: 60%;
}

.logo-container {
  flex: 40%;
}

.header .logo {
  color: white;
  font-family: 'Bilbo', cursive;
  font-weight: 400;
  font-size: 2rem;
  border: 2px solid rgba(0, 115, 144, 0.6);
  text-decoration: none;
  border-radius: 4px;
  padding: 0 0.3rem;
  cursor: pointer;
}

.header .logo:active {
  color: lightgray;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links li {
  padding: 0 1.5rem;
}

.nav-links .link {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}

.nav-links .logout-btn {
  background: transparent;
  border: none;
  outline: none;
}

.nav-links li .logout-btn {
  background: transparent;
}

.nav-links .link:hover,
.nav-links li .logout-btn:hover {
  color: #0088a9;
}
.nav-links .link:active,
.nav-links li .logout-btn:active {
  color: #044150;
}
